.breadcrumb-name {
  text-transform: capitalize;
  opacity: 0.6;
}

.quantity-selection > * {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 1px solid #e3e5e6;
  padding: 5px 8px;
}
.quantity-selection .quantityDisplay {
  pointer-events: none;
}
.quantity-selection button:nth-of-type(1) {
  border-radius: 5px 0 0 5px;
}
.quantity-selection button:nth-of-type(2) {
  border-radius: 0 5px 5px 0;
}
.size-radio-label input:checked ~ .name {
  background: rgb(96 165 250);
  color: white;
  border: transparent;
}

@keyframes slide-left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-bottom-to-top {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-fade-lr {
  animation: slide-left-to-right 0.3s ease;
}

.image-fade-bt {
  animation: slide-bottom-to-top 0.3s ease;
}

#zoomLens {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background: white;
}
